<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>The New Nationalism</h1>
                    <hr class="small">
                    <span class="subheading">A New Vision for America</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <% @posts.each do |post| %>
                    <%= link_to posts_path('index') do %>
                      <h2><%= post.title %></h2>
                      <h5><%= post.content.truncate(100) %></h5>
                      <p class="index-created-at">-<%= @primeuser.pseudonym %>, <%= post.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
                    <% end %>
                    <br>
                <% end %> 
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="/posts">Blog Archive &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

