<header class="intro-header" id="intro-header-img" style="background-image: url('http://fluper.ru/ffh/17/flag_amerika_oblaka_nebo_patriotizm_2560x1600.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                </div>
            </div>
        </div>
    </div>
</header>
<div class="col-md-4"></div>
<div class="col-md-4" align="center">
  <h1>Sign up</h1>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>


    <%= f.label :pseudonym %>
    <br>
    <%= f.text_field :pseudonym, class: 'form-control' %>
    <br>
    <%= f.label :email %>
    <br>
    <%= f.email_field :email, class: 'form-control' %>
    <br>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, class: 'form-control' %>
    <br>
    <%= f.label :password_confirmation, "Confirmation" %>
    <br>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <br>
    <br>
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  <% end %>
  <br>
</div>
<div class="col-md-4"></div>