<br>
<br>
<p id="notice"><%= notice %></p>
<header class="intro-header" style="background-image: url('http://fluper.ru/ffh/17/flag_amerika_oblaka_nebo_patriotizm_2560x1600.jpg')" id="post-index-background-img">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" id="users-index">
  <div class="row">
    <h2 align="center" class="user-index-title">Welcome, <%= @user.pseudonym %></h2>
        <br>
        <div class="new-post-link" align="center">
            <% if @user.admin? %>
                <%= link_to 'New Blog', new_post_path %>
            <% end %> 
        </div>
        <br>
        <div class="index-users-table">
        	<% @posts.each do |blog| %>
                <div align="center">
            		<%= link_to post_path(blog.id) do %>
            			<h3 class="index-user-info"><%= blog.title %></h3>
            			<p><%= link_to 'Edit', edit_post_path(blog.id) %> |
                    	<%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            		<% end %>
                </div>
        	<% end %>
        </div>
        <div class="col-md-8">
            <% if @user.comments.any? %>
                <h3>Comments:</h3>
                <ol class="comments">
                    <% @comments.each do |comment| %>
                        <br>
                        <p class="comment-user-info-1"><b>Comment:</b> <%= comment.content %></p>
                        <p class="comment-user-info-2"><b>From article:</b> <%= comment.post.title %></p>
                        <p class="comment-user-info-3"><b>Created on:</b> <%= comment.created_at.strftime("%b %d, %Y") %></p>
                        <br>
                    <% end %>
                </ol>
            <% end %>
        </div>
  </div>
</div>
