<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<p id="notice"><%= notice %></p>
<header class="intro-header" style="background-image: url('http://fluper.ru/ffh/17/flag_amerika_oblaka_nebo_patriotizm_2560x1600.jpg')" id="post-index-background-img">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="post-lib-index">
              <tbody>
                <% @posts.each do |blog| %>
                  <%= link_to page_path('pages') do %>
                    <h3 id="index-blog-title"><%= blog.title %></h3>
                    <p id="index-blog-info">-<%= @primeuser.pseudonym %>, <%= blog.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
                  <% end %>
                <% end %>
              </tbody>
        </div>
    </div>
    <br>
    <br>
    <div align="center">
      <%= link_to 'New Blog', new_post_path %>  
    </div>
</article>


