<header class="intro-header" id="intro-header-img" style="background-image: url('http://fluper.ru/ffh/17/flag_amerika_oblaka_nebo_patriotizm_2560x1600.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                </div>
            </div>
        </div>
    </div>
</header>
<p id="notice"><%= notice %></p>
<article>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h1 class="blog-library" align="center">Blog Archive</h1>
          </div>
          <% @posts.each do |blog| %>
            <%= link_to post_path(blog.id) do %>
              <div class="col-md-2">
                <%= image_tag blog.photo.url(:thumb) %>
              </div>
              <div class="col-md-10" id="post-lib-index">
                <h3 class="index-blog-title" ><%= blog.title %></h3>
                <p class="blog-author-date">-<%= blog.user.pseudonym %>, <%= blog.created_at.strftime("%b %d %Y") %></p>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
    </div>
</article>




