<header class="intro-blog-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 align="center"><%= @post.title %></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<article> 
  <div class="container">
    <row>
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="post-image">
            <%= image_tag @post.photo.url(:large) %>
          </div>
          <p class="show-post"><%= simple_format(@post.content)%></p>   
          <p id="blog-info">-<%= @post.user.pseudonym %>, <%= @post.created_at.strftime("%b %d, %Y") %></p> 
          <div align="center">
            <h2 id="comment-button" align="center">Comments(<%= @comments.length %>)</h2>
            <button id="show-comments-field">Show comments</button>
          </div>
        </div>
        <div class="col-md-2"></div>
      </row>
      <row>
        <div class="col-md-12" id="comments">
          <ol id="comments-field">
            <% @comments.each do |comment| %>
              <div id="blog-comment-content">
                <%= comment.user.pseudonym %>(<%= comment.created_at.strftime("%b %d, %Y") %>)- <%= comment.content %>

              </div>
            <% end %>
          </ol>
        </div>
      </row>
      <row>
        <div class="col-md-12 text-center">
          <br>
          <% if current_user %>
            <button>
              <div class="new-comment-link">
                <%= link_to 'New Comment', new_post_comment_path(@post.id) %>
              </div>  
            </button>
          <% else %>
            <button>
              <div>
                <%= link_to 'Wish to comment? Please join!', new_user_path %>
              </div>
            </button>
          <% end %>
        </div>
      </row>
  </div>
</article>


