<%# add navigation links to this file %>
<li>
	<% if current_user %>
    	<%= link_to 'Home', user_path(current_user) %>
    <% else %>
    	<%= link_to 'Home', root_path() %>
    <% end %>
</li>
<li>
	<%= link_to 'About', about_path() %>
</li>
<li>
    <%= link_to 'Blog Library', posts_path() %>
</li>
<li>
    <%= link_to 'Contributors', show_path(@user) %>
</li>
<li>
	<% if current_user %>
		<%= link_to "Logout", :controller => 'sessions', :action => 'destroy' %>
	<% else %>
		<%= link_to "Login", :controller => 'sessions', :action => 'new' %>
	<% end %>
</li>

