<!DOCTYPE html>
<html>
  <head class="background-color-class">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%="The Hamiltonian | The Center for American Statecraft"%></title>

    <meta property="og:title" content="The Hamiltonian"/>
    <% if @comment %>
      <meta property="og:description" content="<%= @post.title %>"/>
    <% else %>
      <meta property="og:description" content="The Center for American Statecraft"/>
      <meta property="og:image" content="http://fluper.ru/ffh/17/flag_amerika_oblaka_nebo_patriotizm_2560x1600.jpg"/>
    <% end %>
    <meta property="og:url" content="http://the-hamiltonian.org"/>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  </head>
  <body class="background-color-class">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
